<h1 mat-dialog-title>Add Product Form</h1>
    <div mat-dialog-content>
        <form [formGroup]="productForm">
            <mat-form-field appearance="outline">
                <mat-label>Product Name</mat-label>
                <input formControlName="title" matInput placeholder="Enter Product Name">
              </mat-form-field>
              <mat-form-field appearance="outline">
              <mat-label>Product Price</mat-label>
              <input matInput formControlName="price" placeholder="Enter Product Price">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Product Description</mat-label>
                <textarea matInput formControlName="description" placeholder="Enter Product Price"></textarea>
              </mat-form-field>
        </form>
    </div>
    <div mat-dialog-action [align]="'end'">
        <button mat-raised-button color="warn" mat-dialog-close>Close</button>
        <button style="margin-left:8px;" mat-raised-button color="primary" (click)="addProduct()" >{{actionBtn}}</button>

    </div>
